html, body
{
	height: 100%;
	margin: 0;
	/*display: table;*/
}


.navbar
{
	opacity: 0.9;
	text-align: center;
}

#banner{
   margin-left: 30%;
   color: #5bc0de;
}

/*Background Image and form tags */



@media only screen and (max-width: 768px)
{
	/* For IPAD  and Iphone*/
	#first-image
	{
		background-image: url("./background_phone.png");
		background-size: cover;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center center;
		text-align: center;
	    padding-top: 25%;		
	}

}

@media only screen and (min-width: 976px)
{
	/* For Desktop */
	#first-image
	{
		/*background-color: red;*/
		background-image: url("./background_full.jpg");
		background-size: 100%;
		background-attachment: fixed;
		height: 100%;	
		background-repeat: no-repeat;
		background-position: center center;
		text-align: center;
		padding-top: 10%;
			
	}

}


#bold{
	font-family: 'Arvo', serif;
	font-style: normal;
	font-size: 57px;
}

#light{
	font-family: 'Lato', serif;
	font-style: italic;
	font-size: 45px;
}

@keyframes animation{
	from{margin-top: 0px;}
	to {margin-top: 6px;}
} 

#arrow{
	padding-top: 5%;
	animation-name: animation;
	animation-duration: .4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}

.alert{
	max-height: 10%;
	width: 350px;
	opacity: 0.9;
	color: black;
	margin: 0 auto;
	padding: 5px;
	margin-top: 2%;
}

/*Info tag*/

#info
{
	height: 50%;
	font-family: 'Delicious', serif;
	font-size: 20px;
}



input{
	padding: 10px;
	margin: 10px;
	width: 300px;
	background: transparent;
	border: none;
	border-bottom: 2px solid black;
	display: inline-block;
	text-align: center;
}

::-webkit-input-placeholder {
   color: black;
}

#about h2, #contact h2{
	padding: 5px;
	text-decoration: underline;
}

#contact{
	padding-left: 5%;
	border-left: 1px solid black;
	min-height: 250px;
	margin-bottom: 20px;
}

.footer h4
{
 text-align: right;
}